{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ inventory.name }}{% endblock %}

{% block head %}
  <link href="{% static 'css/articles.css' %}" rel="stylesheet">
  <script src="{% static 'js/articles.js' %}"></script>
{% endblock head %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'inventories' %}">{% trans 'Inventories' %}</a></li>
    <li class="active">{% trans 'Inventory Details' %}</li>
  </ol>

  {% include 'inventories/partial_inventory.html' with inventory=inventory emcinventory=emcinventory mtninventory=mtninventory  %}

{% endblock main %}
