{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}


{% block title %}Ansible - Post{% endblock %}

{% block head %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  <link href="{% static 'css/tasks.css' %}?v=1" rel="stylesheet">
  <script src="{% static 'js/createtask.js' %}"></script>
{% endblock head %}

{% block main %}
    <a href="{% url 'createinventory' %}" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-plus"></span> {% trans 'Create Inventory' %}
    </a>
<div class="container">
<table class="table table-hover">
          <thead>
            <tr>
                <th class="col-xs-1"><strong> #</strong></th>
                <th class="col-xs-2.5"><strong>Name</strong></th>
                <th class="col-xs-2.5"><strong>Description</strong></th>
                <th class="col-xs-2.5"><strong>Variable</strong></th>
                <th class="col-xs-2.5"><strong>Network</strong></th>
            </tr>
        </thead>
          <tbody>
        {% for inventory in inventories %}
            <tr>
                <td class="col-xs-1">  {{ inventory.id }}
</td>
                <td class="col-xs-2.5"><a href="{{ baseurl }}/inventories/edit/{{ inventory.id }}">{{ inventory.name }}</a></td>
                <td class="col-xs-2.5">{{ inventory.description }}</td>
                <td class="col-xs-2.5">{{ inventory.variable }}</td>
                <td class="col-xs-2.5">{{ inventory.network }}
                </td>
            </tr>
            {% empty %}
          <h4 class="no-data">{% trans 'There is no inventory created yet' %}. <a href="{% url 'createinventory' %}">{% trans 'Be the first one to create' %}!</a></h4>
        {% endfor %}
        </tbody>
</table>
</div>
  <div class="row">
    <div class="col-md-12">
      {% include 'paginator.html' with paginator=inventories %}
    </div>
  </div>
{% endblock main %}
