{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ task.name }}{% endblock %}

{% block head %}
  <link href="{% static 'css/articles.css' %}" rel="stylesheet">
  <script src="{% static 'js/articles.js' %}"></script>
<script>
function validateForm() {
    var x = document.forms["runtask"]["factfile"].value;
    if (x == null || x == "") {
        alert("Factfile must be filled out");
        return false;
    }
}
</script>
{% endblock head %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'tasks' %}">{% trans 'Tasks' %}</a></li>
    <li class="active">{% trans 'Task Details' %}</li>
  </ol>

  {% include 'tasks/partial_task.html' with task=task emcinventory=emcinventory mtninventory=mtninventory  %}

{% endblock main %}
