{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Configuraiton Creator{% endblock %}

{% block head %}
  <link href="{% static 'css/articles.css' %}" rel="stylesheet">
  <script src="{% static 'js/createtask.js' %}"></script>
{% endblock head %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'tasks' %}">{% trans 'Configurations' %}</a></li>
    <li class="active">{% trans 'Create Configruation Creator' %}</li>
  </ol>
  <form action="{% url 'createconfcreator' %}" method="post" role="form">
    {% csrf_token %}
    {{ form.status }}
    {% for field in form.visible_fields %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.label }}" class="control-label">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
          <span class="help-block">{{ field.help_text }}</span>
        {% endif %}
        {% for error in field.errors %}
          <label class="control-label">{{ error }}</label>
        {% endfor %}
      </div>
    {% endfor %}
    <div class="form-group">
      <button type="button" class="btn btn-primary create">{% trans 'Create' %}</button>
      <a href="{% url 'listcreator' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
    </div>
  </form>


{% endblock main %}
